@font-face {
    font-family: 'press_divisionregular';
    src: url('https://drive.google.com/uc?export=view&id=1lQZIPR41ubFdX4dBSRqpXpT7a4ttKQn2.woff2') format('woff2'),
         url('https://drive.google.com/uc?export=view&id=1rA0lFf8P9KemfVmQHlv2Cqr7vCfsM04J.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


